.chats {
  display: flex;
  justify-content: center;
  margin: auto 0;

  .chats-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      color: black;
      margin-bottom: 15px;
      margin-top: 10px;
    }
  }
}
