@import url("./font.css");
@import url("./pages/dashboard.scss");
@import url("./pages/members.scss");
@import url("./pages/login.scss");
@import url("./components/header.scss");
@import url("./components/sidebar.scss");
@import url("./components/table.scss");

body {
  margin: 0;
  font-family: "Manrope";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Avenir";
}

.App {
  text-align: center;
  background: #282c34;
  min-height: 100vh;
  background-image: url("../assets/png/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App-link {
  color: #61dafb;
}

h1,
h2,
h3,
p,
a {
  font-family: "Manrope";
  margin: 0;
  padding: 0;
  color: #dce0e8;
}

.page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 60px;
  z-index: 0;
}
