@import url("./font.css");

body {
  margin: 0;
  font-family: "Manrope";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Avenir";
}

.App {
  text-align: center;
  background: #282c34;
  min-height: 100vh;
  background-image: url("../assets/png/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App-link {
  color: #61dafb;
}

h1,
h2,
h3,
p,
a {
  font-family: "Manrope";
  margin: 0;
  padding: 0;
  color: #dce0e8;
}
